extends layout

block title
    title Menu
block style
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheet/mdb.min.css', rel='stylesheet')
    link(href='/stylesheet/style.css', rel='stylesheet')
    link(href='/stylesheet/layout.css', rel='stylesheet', type='text/css', media='all')
block body
    body#top.hidden-sn.mdb-skin
        header
            #slide-out.side-nav.sn-bg-4.mdb-sidenav
                ul.custom-scrollbar.list-unstyled
                    li
                        .logo-wrapper.waves-light(style='height:100px;')
                            a(href="home")
                                img.img-fluid.flex-center(src='/img/iconmenu.png')
                    li
                        ul
                            li
                                ul
                                    li
                                        a.textnavbar(href='home') Home
                                    li
                                        a.textnavbar(href='prenotazione') Prenota
                                    li
                                        a.textnavbar(href='appuntamenti') Lista appuntamenti
                                    li
                                        a.textnavbar(href='rubrica') Lista contatti
                    //li
                        ul.collapsible.collapsible-accordion
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-desktop
                                    |  Client
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='#{addClientUrl}') Associa Utente a Client
                                        li
                                            a.waves-effect(href='#{listClientUrl}') Lista Client
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-user-o
                                    |  Utenti
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='#{addUserUrl}') Aggiungi Utente
                                        li
                                            a.waves-effect(href='#{listUserUrl}') Lista Utenti
                            li
                                a.collapsible-header.waves-effect.arrow-r
                                    i.fa.fa-lock
                                    |  Gestione Token
                                    i.fa.fa-angle-down.rotate-icon
                                .collapsible-body
                                    ul
                                        li
                                            a.waves-effect(href='#') Elimina Token Scaduti
                                        li
                .sidenav-bg.mask-strong
            nav.navbar.fixed-top.navbar-toggleable-md.navbar-expand-lg.scrolling-navbar.double-nav
                .float-left
                    a.button-collapse(href='', data-activates='slide-out')
                        i.fa.fa-bars.textnavbar
                .breadcrumb-dn.mr-auto
                    p Ecupt
                ul.nav.navbar-nav.nav-flex-icons.ml-auto
                    //li.nav-item
                        a.nav-link
                            i.fa.fa-user
                            span.clearfix.d-none.d-sm-inline-block Account
                    li.nav-item
                        a#logout.textnavbar.nav-link
                            i.fa.fa-times
                            span.clearfix.d-none.d-sm-inline-block Logout

block footer
    footer.page-footer.font-small
        div(style='background-color: #fc4a4a !important; height: 5px;')
            .container
                // Grid row
                .row.py-4.d-flex.align-items-center
                    // Grid column
                    // Grid column
                // Grid row
        // Footer Links
        .container-fluid(style='background-color: #243a51 !important;')
            // Grid row
            .row.mt-3
                // Grid column
                .col-4
                    h6.text-uppercase.font-weight-bold #{datiAzienda.nome_struttura}
                    hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                    p #{datiAzienda.indirizzo}
                        if datiAzienda.piva !== ''
                            | - P.IVA: #{datiAzienda.piva}
                .col
                    // Links
                    h6.text-uppercase.font-weight-bold AK-12
                    hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                    p
                        i.fa.fa-home.mr-3
                        | Via Torino 14, 81020 San Nicola La Strada (CE)
                    p
                        i.fa.fa-envelope.mr-3
                        |  info@ak12srl.it
                    p
                        i.fa.fa-phone.mr-3
                        |  +(39) 0823 49 49 35
                .col
                    // Links
                    h6.text-uppercase.font-weight-bold GESAN
                    hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                    p
                        i.fa.fa-home.mr-3
                        | Via Torino 14, 81020 San Nicola La Strada (CE)
                    p
                        i.fa.fa-envelope.mr-3
                        |  gesan@gesan.it
                    p
                        i.fa.fa-phone.mr-3
                        |  0823.1765736 - 0823.494935
                .col
                    h6.text-uppercase.font-weight-bold Link
                    hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
                    p
                        a.font-italic(href='http://www.ak12srl.it') ak12 website
                    p
                        a.font-italic(href='https://www.gesan.it/') gesan website
        .footer-copyright.text-center.py-3(style='background-color: #243a51 !important;')
            | © 2018 Copyright:
            a(href='/')  AK-12 S.r.l
    // Copyright




block javascript
    script(type='text/javascript', src='/javascript/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/javascript/popper.min.js')
    script(type='text/javascript', src='/javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/mdb.min.js')
    script(type='text/javascript', src='/javascript/menu.js')
